<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="projektmanagementBL.Properties.Settings.projektmanagementDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\Dokumente\FH STP\4. Semester\Software Architektur\Projekte\ProjektmanagementTool\projektmanagementDL\projektmanagementDB.mdf&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>